header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: unsafe;
  padding: 0px;
  z-index: 1;
}

header a img {
  max-height: 150px;
  width: auto;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
/* Απόσταση κουμπιών */
nav ul li {
  margin-right: 80px; 
}
/* Μορφή κουμπιών */
nav ul li a {
  display: block;
  border: 0.1px solid #030c11;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: dotted;
  color: #000;
  font-weight: bold;/* στυλ γραμματοσειράς */
  font-family: sans-serif;
}
/* οταν κάνεις hover */
nav ul li a:hover {
  background-color: #26163c;
  color: #e5d7d7;
}